<h1>Login</h1>
<p id="notice"><%= notice %></p>
<%= form_with(scope: :authentication, local: true, url: authentication_path) do |form| %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>


  <div class="actions">
    <%= form.submit "login" %>
  </div>
<% end %>
<br>
<%= link_to "ユーザ新規登録", new_user_path %>
