<table>
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Lending at</th>
      <th>Expected return at</th>
      <% if side == "borrower" %>
        <th>Lender</th>
      <% else%>
        <th>Borrower</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% dealings.each do |lending| %>
      <tr>
        <td><%= lending.item_name %></td>
        <td><%= lending.lending_at %></td>
        <% if lending.expected_return_at >= Time.now %>
          <td><%= lending.expected_return_at %></td>
        <% else%>
          <td class="limit_exceeded"><%= lending.expected_return_at %></td>   
        <% end %>
        <% if side == "borrower" %>
          <td><%= lending.lender.name %></td>
        <% else%>
          <td><%= lending.borrower.name %></td>
        <% end %>
        <td><%= link_to 'Show', lending %></td>
        <td><%= link_to 'Edit', edit_lending_path(lending) %></td>
        <td><%= link_to 'Destroy', lending, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>