<%= form_with(model: lending, local: true) do |form| %>
  <% if lending.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lending.errors.count, "error") %> prohibited this lending from being saved:</h2>

      <ul>
        <% lending.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :item_name %>
    <%= form.text_field :item_name %>
  </div>

  <div class="field">
    <%= form.label :lending_at %>
    <%= form.date_select :lending_at %>
  </div>

  <div class="field">
    <%= form.label :expected_return_at %>
    <%= form.date_select :expected_return_at, default: Time.now + 7.days %>
  </div>

  <div class="field">
    <%= form.label :return_style %>
    <%= form.text_field :return_style %>
  </div>
  
  <div class="field">
    <%= form.label :borrower_id %>
    <%= form.select :borrower_id do %>
      <% current_user.friends.each do |f| %>
        <option value=<%= f.id %>><%= f.email %></option>
      <% end %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
