<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lending.item_name %>
</p>

<p>
  <strong>Lending at:</strong>
  <%= @lending.lending_at %>
</p>

<p>
  <strong>Expected return at:</strong>
  <% if @lending.expected_return_at >= Time.now %>
    <span><%= @lending.expected_return_at %></span>
  <% else%>
    <span class="limit_exceeded"><%= @lending.expected_return_at %></span>
  <% end %>
</p>


<p>
  <strong>Return Style:</strong>
  <%= @lending.return_style %>
</p>

<p>
  <strong>Lender:</strong>
  <%= @lending.lender.name %>:<%= @lending.lender.email %>
</p>

<p>
  <strong>Borrower:</strong>
  <%= @lending.borrower.name %>:<%= @lending.borrower.email %>
</p>

<%= link_to 'Edit', edit_lending_path(@lending) %> |
<%= link_to 'Back', lendings_path %>
